<div class="panel lights">
  <h2>Light Controls</h2>
  <div>Y Rotation</div>
  <mat-slider [min]="minRotation" [max]="maxRotation" [step]="rotationStep" [value]="lightRotation.y" (input)="onLightRotation($event, 'y')"></mat-slider>
  <div>Z Rotation</div>
  <mat-slider [min]="minRotation" [max]="maxRotation" [step]="rotationStep" [value]="lightRotation.z" (input)="onLightRotation($event, 'z')"></mat-slider>
  <div>Directional Intensity</div>
  <mat-slider [min]="minIntensity" [max]="maxIntensity" [step]="intensityStep" [value]="lightIntensity" (input)="onLightIntensityChange($event.value)"></mat-slider>
  <div>Ambient Intensity</div>
  <mat-slider [min]="minAmbientIntensity" [max]="maxAmbientIntensity" [step]="ambientIntensityStep" [value]="ambientLightIntensity" (input)="onAmbientLightIntensityChange($event.value)"></mat-slider>
</div>
<div class="panel object">
  <h2>Object Controls</h2>
  <div>X Rotation</div>
  <mat-slider [min]="minRotation" [max]="maxRotation" [step]="rotationStep" [value]="objectRotation.x" (input)="obObjectRotation($event, 'x')"></mat-slider>
  <div>Y Rotation</div>
  <mat-slider [min]="minRotation" [max]="maxRotation" [step]="rotationStep" [value]="objectRotation.y" (input)="obObjectRotation($event, 'y')"></mat-slider>
  <div>Z Rotation</div>
  <mat-slider [min]="minRotation" [max]="maxRotation" [step]="rotationStep" [value]="objectRotation.z" (input)="obObjectRotation($event, 'z')"></mat-slider>
</div>
