:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  padding: 24px;
  color: white;
  pointer-events: none;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    "lights . . . object"
    ". . . . ."
    ". . . . .";

  &.hide-controls .toggleable {
    display: none;
  }
}

.panel {
  pointer-events: initial;
}

.lights {
  grid-area: lights;
}

.object {
  grid-area: object;
  text-align: right;
}
