:host {
  position: fixed;
  top: 64px; // Same height as mat-toolbar
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  color: white;
  pointer-events: none;
  display: flex;
  justify-content: space-between;


  &.hide-controls .toggleable {
    display: none;
  }
}

.panel {
  pointer-events: initial;
}

.lights {
}

.object {
  text-align: right;
}
