:host {
  display: flex;
  padding: 16px;
  overflow-x: auto;

  &::after {
    content: "";
    min-width: 16px;
  }
}

.model-button {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}
